*{
  margin: 0;
  color: white;
  background-image: url(https://ak1.picdn.net/shutterstock/videos/14374231/thumb/4.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}
